header { 
    padding-bottom: 25px;
    border-bottom: 15px solid #ddd;
}

.logo{
    width: 50px;
}

header {
    display: flex;
    justify-content: space-between;
}

header ul {

    list-style-type: none;
}

.social li {
    float: left;
    height: 31px;
    margin-right: 1px;
}

#pinterest-icon {
    margin-right: 10px;
}


.social #facebook-icon {
/*    background: url('./assets/fb-icon.png') no-repeat; */

}
